ArticlesProject/.vs/
ArticlesProject/ArticlesProject/obj/
ArticlesProject/ArticlesProject/bin/
ArticlesProject/ArticlesProjectDataAccess/obj/
ArticlesProject/ArticlesProjectDataAccess/bin/
ArticlesProject/ArticlesProject.Test/obj/
ArticlesProject/ArticlesProject.Test/bin/
