<mat-card>
  <mat-card-title>
      <span *ngIf ="article.id">Edit Article</span>
      <span *ngIf ="!article.id">New Article</span>
  </mat-card-title>
<mat-card-content>
<form>
  <mat-form-field class="fullWidth">
    <input [(ngModel)]="article.title" name ="article" matInput placeholder="Title">
  </mat-form-field>
  <mat-form-field class="fullWidth">
    <input [(ngModel)]="article.description" name ="description" matInput placeholder="Description">
  </mat-form-field>
  <mat-form-field class="fullWidth" >
    <mat-select placeholder="Entry category"   [(ngModel)]="selectedValue" name="selectedItem">
      <mat-option *ngFor="let type of types" [value]="type.value">
           {{type}}
        </mat-option>
    </mat-select>
    
</mat-form-field>
<p> Selected value: {{selectedValue}} </p>

<div class="col-sm-8 col-md-4">  
    <select id="Id" #Id="ngModel" class="hideLabel form-control" [(ngModel)]="nameId" name="Id" (change)="selectName();">  
            <option selected="" value=""></option>  
         <option [ngValue]="k.id" *ngFor="let k of nameList">  
             {{k.name}}  
      </option>  
 </select>  
</div>  
</form>
</mat-card-content>
<mat-card-actions>
  <button *ngIf="article.id" (click)="api.putArticle(article)" mat-button>EDIT</button>
  <button *ngIf="article.id" (click)="article = {}" mat-button>NEW</button>
  <button *ngIf="!article.id" (click)="post(article)" mat-button>POST</button>
</mat-card-actions>
</mat-card>
<app-new-articles></app-new-articles>