<h2 mat-dialog-title>Update entry</h2>
<mat-dialog-content [formGroup]="form">
        <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry title" formControlName="title">
        </mat-form-field>
            <br>
            <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry description" formControlName="description">
            </mat-form-field>
            <br>    
            <mat-form-field class="new-entry-field" >
                <mat-select placeholder="Entry category" formControlName="category">
                    <mat-option *ngFor="let type of types" [value]="type">
                       {{type.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry date" formControlName="date">
            </mat-form-field>
            <br>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
