<h2 mat-dialog-title>Update entry</h2>
<mat-dialog-content [formGroup]="form">
        <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry title" formControlName="title">
        </mat-form-field>
            <br>
            <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry description" formControlName="description">
            </mat-form-field>
            <br>    
            <mat-form-field class="new-entry-field" >
                <mat-select placeholder="Entry category"  [(value)]="categoryId" id="id" name="id" (change)="selectName();">
                  <mat-option selected="" value=""></mat-option>
                    <mat-option *ngFor="let k of nameList" [value]="k.id">
                       {{k.name}}
                    </mat-option>
                </mat-select>    
            </mat-form-field>
            <br>
            <mat-form-field class="new-entry-field">
                <input matInput placeholder="Entry date" formControlName="date">
            </mat-form-field>
            <br>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
