<mat-card>
    <mat-card-title>
        <span *ngIf ="category.id">Edit Category</span>
        <span *ngIf ="!category.id">New Category</span>
    </mat-card-title>
<mat-card-content>
<form>
    <mat-form-field class="fullWidth">
      <input [(ngModel)]="category.name" name ="category" matInput placeholder="Name">
    </mat-form-field>
</form>
</mat-card-content>
<mat-card-actions>
    <button *ngIf="category.id" (click)="api.putCategory(category)" mat-button>EDIT</button>
    <button *ngIf="category.id" (click)="category = {}" mat-button>NEW</button>
    <button *ngIf="!category.id" (click)="post(category)" mat-button>POST</button>
</mat-card-actions>
</mat-card>
  